@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}


 
.dropdownbutton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
} 
.customdropdown img {
  width: 20px; /* Adjust to the desired width */
  height: 20px; /* Adjust to the desired height */
  border-radius: 3px; /* Optional: adds rounded corners */
  margin-right: 8px; /* Spacing between image and text */
  vertical-align: middle; /* Aligns the image with the text */
}

 .dropdownoptions {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 
 
.dropdownoptions li {
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
} 

 .dropdownoptions li:hover {
  background-color: rgba(255, 255, 255, 0.2);
} 

.dropdownbutton:hover {
  border-color: #007bff;
} 

 .dropdownbutton:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 86, 179, 0.3);
} 


.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
